html, body, #root {
    margin: 0;
    height: 100%;
}

Header {
    grid-column: 1 / -1;
}

.nav-Link:hover {
    color: black
}

/* Active link styles */
.active {
    color: black;
  }

/* Footer {
    min-height: 50px;
    grid-column: 1 / -1;
} */